@import '~node_modules/modern-normalize/modern-normalize.css';
@import './header/header';
@import './main/main';
@import './main/modal';
@import './footer/footer';

body {
    font-family: Roboto, Raleway, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

/* обнулення */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:768px) {
        max-width: 768px;

    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}

.img {
    display: block;
}

@function getColor($key) {
    @return map-get($colors, $key);
}

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);