@import '~node_modules/modern-normalize/modern-normalize.css';
@import './header/header';

body {
    font-family: Roboto, Raleway, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

/* обнулення */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}