<header class="header__section">
  <div class="container header__container">
    <div class="header__content">
      <nav class="nav">
        <p>HOME</p>
        <p>MY POKE</p>
      </nav>
      <div class="header__form">
        <form>
          <input type="text" class="header__input js-header__input" autocomplete="off" placeholder="Search pokemon...">
        </form>
        <svg class="header__icon">
          <use href="./images/svg/glass.svg"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
<main class="main__section">
  <div class="container">
    <ul class="poke__list">
    </ul>
  </div>
  <button class="load-more">load-more</button>
</main>
<footer>
  <div class="container">
    <p>Markizdickabraz pet-project =). Have a good day</p>
  </div>
</footer>