<header class="header__section">
  <div class="container header__container">
    <div class="header__content">
      <nav class="nav">
        <p>HOME</p>
        <p>MY POKE</p>
      </nav>

      <form class="header__form js-form">
        <input type="text" class="header__input js-header__input" autocomplete="off" placeholder="Search pokemon...">
        <button type="submit" class="input__btn js-input__btn">
          <svg width="40" height="40" class="input__svg">
            <use href="./images/svg/glass.svg#icon-search"></use>
          </svg>
        </button>
      </form>

    </div>
  </div>
</header>
<main class="main__section">
  <div class="container">
    <ul class="poke__list">
    </ul>
  </div>
  <div class="container__btn">
    <button type="button" class="load-more__btn js-load-more__btn">Load more</button>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__title">Markizdickabraz pet-project =). Have a good day</p>
    </div>
  </div>
</footer>

<!-- модальне вікно -->

<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__content"></div>
  </div>
</div>