<header>
  <container class="container">
    <nav class="nav">
      <p>HOME</p>
      <p>MY POKE</p>
    </nav>
    <div class="header__form">
      <form>
        <input type="text" class="header__input js-header__input" autocomplete="off" placeholder="Search pokemon...">
      </form>
      <svg width="20" height="20" class="header__icon">
        <use href="./images/svg/glass.svg"></use>
      </svg>
    </div>
  </container>
</header>
<main>
  <ul></ul>
</main>
<footer>
  <p>Markizdickabraz pet-project =). Have a good day</p>
</footer>