.header__container {
    background-image: url('../images/poke_logo_360.jpg');
    height: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width:768px) {
        background-image: url('../images/poke_logo_768.png');
        height: 350px;
        margin: 0 auto;
        background-size: contain;
    }

    @media screen and (min-width:1200px) {
        background-image: url('../images/poke_logo.webp');
        margin: 0 auto;
        background-size: contain;
        height: 440px;
    }
}


.nav {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 80%;
    margin-right: 30px;
}

.header__form {
    display: flex;
    justify-content: center;
    padding-top: 500px;
    gap: 8px;



    @media screen and(min-width:768px) {
        padding-top: 220px;
    }

    @media screen and(min-width:1200px) {
        padding-top: 320px;
    }
}

.header__input {
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 12px;

    &:focus {
        border: none;
        border-bottom: 2px solid lightblue;
    }
}