.header__section {
    background-image: url('../images/poke_logo_360.jpg');
    height: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width:768px) {
        background-image: url('../images/poke_logo_768.png');
        // height: 250px;
        margin: 0 auto;
        background-size: contain;
    }

    @media screen and (min-width:1200px) {
        background-image: url('../images/poke_logo.webp');
        margin: 0 auto;
        background-size: contain;
        height: 440px;
    }
}


.nav {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 80%;
    margin-right: 30px;
}

.header__content {
    height: 768px;

    @media screen and (min-width:768px) {
        height: 250px;
    }

    @media screen and(min-width:1200px) {
        height: 440px;
    }
}

.header__form {
    display: flex;
    justify-content: center;
}